<?xml version='1.0' encoding='utf-8'?>  
  <configuration>  
    <connectionStrings>  
      <clear />  
      <add name="DockerDB"
       providerName="System.Data.ProviderName"
       connectionString="Server=localhost,1450;
       Database=shopInfo;
       User ID=SA;
       Password=Password1!" />  
    </connectionStrings>  
  </configuration>  